/* Estilize as divs para que, ao passar o cursor por cima das mesmas, elas ganhem uma borda.
    Faça cada div ter uma cor própria.
    Estilize cada uma das tags h3.
    Faça a terceira div ser maior que as demais.
    Deixe as tags ímpares h3 com o texto em itálico */

    
div:hover { 
    border: 1px solid blue; 
}
div:first-of-type {
    color: red;
    font-style: italic;
    font-size: larger;
} 
div:first-of-type + div {
    color: green;
    background-color: aqua;
} 
div:first-of-type + div + div{
    color: blue;
    font-size: 25px;
    font-style: italic;
} 
div:first-of-type + div + div + div {
    color: gold;
    background-color: black;
} 
div:first-of-type + div + div + div + div{
    color: black;
    font-style: italic;
} 


